<!-- @if (video.id) {
<div class="video-thumbnail">
  @if(view=='home'){ @if (url!='' || url!=null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ url }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }@if (url=='' || url==null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ noImageUrl }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }
  <div class="thumbnail-details">
    <h2>{{ video.title }}</h2>
    <p>{{ video.description }}</p>
  </div>
  } @if(view=='panel'){ @if (url!='' || url!=null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ url }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }@if (url=='' || url==null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ noImageUrl }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }
  <div class="thumbnail-details">
    <h2>{{ video.title }}</h2>
    <p>{{ video.description }}</p>
    <button (click)="delete()">Delete</button>
  </div>
  }
</div>
} -->

<div class="grid-container">
  <img class="video-image" src="{{ url }}" alt="">
  <h2 class="video-title">{{ video.title }}</h2>
  <p class="video-description">{{ video.description }}</p>
</div>