.card-grid-container {
  /* Estilos para el contenedor de la grilla */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 400px;
  max-width: 425px;
  margin: auto;
}

.card-grid-container-before {
  /* Estilos para el contenedor de la grilla */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 400px;
  max-width: 425px;
  position: relative;
  margin: auto;
}

.video-image {
  /* Estilos para la imagen del video */
  display: grid;
  grid-row: 2 span;
  cursor: pointer;
  margin: auto;
}

.video-title {
  /* Estilos para el título del video */
  display: grid;
  grid-row: 1 span;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
}

.video-description {
  /* Estilos para los detalles del video */
  display: grid;
  grid-row: 1 span;
  overflow: hidden;
}

.hidden-button {
  display: none; /* Oculta el botón por defecto */
  position: absolute; /* Establece el posicionamiento absoluto */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el botón */
}

img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.card-grid-container-before:hover .hidden-button {
  display: block; /* Muestra el botón cuando se hace hover sobre el contenedor */
}

.card-grid-container-before::before {
  content: ""; /* Crea un pseudo-elemento */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  opacity: 0; /* Oculta el pseudo-elemento por defecto */
  transition: opacity 0.3s; /* Agrega una transición suave */
}

.card-grid-container-before:hover::before {
  opacity: 1; /* Muestra el pseudo-elemento cuando se hace hover sobre el contenedor */
}
