@if (video.id) {
<div class="video-thumbnail">
  @if(view=='home'){ @if (url!='' || url!=null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ url }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }@if (url=='' || url==null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ noImageUrl }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }
  <div class="thumbnail-details">
    <h2>{{ video.title }}</h2>
    <p>{{ video.description }}</p>
  </div>
  } @if(view=='panel'){ @if (url!='' || url!=null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ url }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }@if (url=='' || url==null) {

  <img
    class="thumbnail-image"
    loading="lazy"
    src="{{ noImageUrl }}"
    alt="no thumbnail"
    [routerLink]="['/play', video.id]"
  />

  }
  <div class="thumbnail-details">
    <h2>{{ video.title }}</h2>
    <p>{{ video.description }}</p>
    <button [routerLink]="['/thumbnail', video.id]">Thumbnail</button>
    <button (click)="delete()">Delete</button>
  </div>
  }
</div>
}