<mat-drawer-container class="example-container" autosize>
  <!-- mat-drawer es el elemento que se desplega aqui dentro meter los enlaces -->
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div
      style="
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
      "
    >
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <a
      mat-flat-button
      [routerLink]="['']"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle()"
    >
      HOME
    </a>

    <br />

    @if ((role$|async)=='') {
    <a
      mat-flat-button
      [routerLink]="['/login']"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle()"
    >
      Login
    </a>

    }

    <br />

    @if ((role$|async)=='') {
    <a
      mat-flat-button
      [routerLink]="['/register']"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle()"
    >
      Register
    </a>
    }

    <br />

    <!-- @if ((role$|async)!='') {
    <a
      mat-flat-button
      [routerLink]="['/auth/change-password']"
      [routerLinkActive]="['active']"
    >
      Change Password
    </a>
    }  -->
    @if ((role$|async)=='user') {

    <a
      mat-flat-button
      [routerLink]="['/upload']"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle()"
    >
      Upload
    </a>

    <a
      mat-flat-button
      [routerLink]="['/videos']"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle()"
    >
      Videos
    </a>

    <br />

    <a
      mat-flat-button
      [routerLink]="['/history']"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle()"
    >
      History
    </a>

    <br />
    } @if ((role$|async)=='admin') {

    <br />
    <a
      mat-flat-button
      [routerLink]="['/register-admin']"
      (click)="drawer.toggle()"
    >
      Register Admin
    </a>
    }
  </mat-drawer>

  <!--  -->
  <app-toolbar [matDrawerShow]="drawer" />
  <router-outlet></router-outlet>
  <!--  -->
</mat-drawer-container>
