.form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  width: 100%;
  /* Usa el 100% del ancho del contenedor padre */
  max-width: 500px;
  /* Ancho máximo predeterminado */
  justify-self: center;
  gap: 10px;
}

.grid-container {
  display: grid;
}

.input {
  width: 100%;
  height: 100%;
}
