<input #input id="input" type="file" accept=".mp4" multiple="false" style="display: none"
  (change)="loadVideo($event)" />
<canvas id="canvas" style="display: none"></canvas>

<!--  -->

<div class="container">

  @if (url) {
  <div class="video2">
    <video id="video" [volume]="0.5" controls src="{{ url }}"></video>
  </div>
  } @if (urlThumbnail) {
  <div class="thumbnail2">
    <img src="{{ urlThumbnail }}" alt="" />
  </div>
  }

  <form [formGroup]="uploadForm" class="form">
    <mat-form-field>
      <mat-label>name</mat-label>
      <input type="text" formControlName="name" matInput placeholder="name" />
      @if (uploadForm.get('name')?.touched &&
      uploadForm.get('name')?.errors?.['required']) {
      <mat-error> name is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>description</mat-label>
      <input type="text" formControlName="description" matInput placeholder="description" />
      @if (uploadForm.get('description')?.touched &&
      uploadForm.get('description')?.errors?.['required']) {
      <mat-error> description is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Visibility</mat-label>
      <mat-select id="select" #visibility [value]="'public'">
        <mat-option [value]="'public'">public</mat-option>
        <mat-option [value]="'followers'">followers</mat-option>
        <mat-option [value]="'private'">private</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <button mat-fab extended color="warn" [disabled]="input.value != ''" (click)="openInput()">
        <mat-icon>add_circle_outline</mat-icon>
        Load
      </button>

      <button mat-fab extended color="warn" [disabled]="video == undefined"
        (click)="generateThumbnail(341.312, 191.984)">
        <mat-icon>add_circle_outline</mat-icon>
        Thumbnail
      </button>

      <button mat-fab extended color="primary" [disabled]="
          uploadForm.invalid || video == undefined || thumbnail == undefined
        " (click)="uploadVideo(visibility.value)">
        <mat-icon>add_circle_outline</mat-icon>
        Upload
      </button>

      <button mat-fab extended color="accent" (click)="reset()">
        <mat-icon>add_circle_outline</mat-icon>
        Reset
      </button>
    </div>
  </form>
</div>