.toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}
.active {
  background-color: #04aa6d;
}
.example-spacer {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.example-form-field {
  width: 200px;
}


.mat-toolbar {
  background-color: #203500; /* Cambia el color de fondo a naranja */
  color: white; /* Cambia el color del texto a blanco */
}